{% load i18n pagination %}



{% spaceless %}
  {% if productpages.paginator.num_pages > 1 %}
    {% with request.get_full_path as path %}
      <nav class="pagination" role="navigation" aria-label="pagination">
        <ul class="pagination-list">

          {% if productpages.number > 2 %}
            <li class="">
              <a class="pagination-link" href="{{ path|remove_page }}" title="{% trans 'Первая' %}">Первая</a>
            </li>
            <li class="">
              <a class="pagination-previous" href="{{ path|set_page:productpages.previous_page_number }}" title="{% trans 'Предыдущая' %}">Предыдущая</a>
            </li>
          {% endif %}

          {% with productpages.number|add:-112|round:-1000 as prev_1000 %}
            {% if prev_1000 > 0 %}
              <li class="">
                <a class="pagination-link" href="{{ path|set_page:prev_1000 }}">{{ prev_1000 }}</a>
              </li>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:-12|round:-100 as prev_100 %}
            {% if prev_100 > 0 %}
              <li class="">
                <a class="pagination-link" href="{{ path|set_page:prev_100 }}">{{ prev_100 }}</a>
              </li>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:-2|round:-10 as prev_10 %}
            {% if prev_10 > 0 %}
              <li class="">
                <a class="pagination-link" href="{{ path|set_page:prev_10 }}">{{ prev_10 }}</a>
              </li>
            {% endif %}
          {% endwith %}

          {% if productpages.has_previous %}
            {% with productpages.number|add:-1 as prev_number %}
              <li class="">
                <a class="pagination-link" href="{% if prev_number == 1 %}{{ path|remove_page }}{% else %}{{ path|set_page:prev_number }}{% endif %}">{{ prev_number }}</a>
              </li>
            {% endwith %}
          {% endif %}

          <li class="">
            <a class="pagination-link is-current" href="{{ path }}">{{ productpages.number }} / {{ productpages.paginator.num_pages }}</a>
          </li>

          {% if productpages.has_next %}
            {% with productpages.number|add:1 as next_number %}
              <li class="">
                <a class="pagination-link" href="{% if prev_number == 1 %}{{ path|remove_page }}{% else %}{{ path|set_page:next_number }}{% endif %}">{{ next_number }}</a>
              </li>
            {% endwith %}
          {% endif %}

          {% with productpages.number|add:2|round:10 as next_10 %}
            {% if next_10 <= productpages.paginator.num_pages %}
              <li class="">
                <a class="pagination-link" href="{{ path|set_page:next_10 }}">{{ next_10 }}</a>
              </li>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:12|round:100 as next_100 %}
            {% if next_100 <= productpages.paginator.num_pages %}
              <li class="">
                <a class="pagination-link" href="{{ path|set_page:next_100 }}">{{ next_100 }}</a>
              </li>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:112|round:1000 as next_1000 %}
            {% if next_1000 <= productpages.paginator.num_pages %}
              <li class="">
                <a class="pagination-link" href="{{ path|set_page:next_1000 }}">{{ next_1000 }}</a>
              </li>
            {% endif %}
          {% endwith %}

          {% if productpages.number|add:2 <= productpages.paginator.num_pages %}
            <li class="">
              <a class="pagination-next" href="{{ path|set_page:productpages.next_page_number }}" title="{% trans 'Следующая' %}">Следующая</a>
            </li>
            <li class="">
              <a class="pagination-link" href="{{ path|set_page:productpages.paginator.num_pages }}" title={% trans 'Последняя' %}>Последняя</a>
            </li>
          {% endif %}

        </ul>
      </nav>
    {% endwith %}
  {% endif %}
{% endspaceless %}
