{% load i18n pagination %}

{% spaceless %}
  {% if productpages.paginator.num_pages > 1 %}
    {% with request.get_full_path as path %}
      <div class="field is-grouped is-grouped-multiline is-grouped-centered buttons are-small">

          {% if productpages.number > 2 %}
            <p class="control ">
              <a class="button is-info is-outlined" href="{{ path|remove_page }}" title="{% trans 'Первая' %}">Первая</a>
            </p>
            <p class="control ">
              <a class="button is-info is-outlined" href="{{ path|set_page:productpages.previous_page_number }}" title="{% trans 'Предыдущая' %}">Предыдущая</a>
            </p>
          {% endif %}

          {% with productpages.number|add:-112|round:-1000 as prev_1000 %}
            {% if prev_1000 > 0 %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{{ path|set_page:prev_1000 }}">{{ prev_1000 }}</a>
              </p>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:-12|round:-100 as prev_100 %}
            {% if prev_100 > 0 %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{{ path|set_page:prev_100 }}">{{ prev_100 }}</a>
              </p>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:-2|round:-10 as prev_10 %}
            {% if prev_10 > 0 %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{{ path|set_page:prev_10 }}">{{ prev_10 }}</a>
              </p>
            {% endif %}
          {% endwith %}

          {% if productpages.has_previous %}
            {% with productpages.number|add:-1 as prev_number %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{% if prev_number == 1 %}{{ path|remove_page }}{% else %}{{ path|set_page:prev_number }}{% endif %}">{{ prev_number }}</a>
              </p>
            {% endwith %}
          {% endif %}

          <p class="control ">
            <a class="button is-info has-background-info is_disabled" href="{{ path }}">{{ productpages.number }} / {{ productpages.paginator.num_pages }}</a>
          </p>

          {% if productpages.has_next %}
            {% with productpages.number|add:1 as next_number %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{% if prev_number == 1 %}{{ path|remove_page }}{% else %}{{ path|set_page:next_number }}{% endif %}">{{ next_number }}</a>
              </p>
            {% endwith %}
          {% endif %}

          {% with productpages.number|add:2|round:10 as next_10 %}
            {% if next_10 <= productpages.paginator.num_pages %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{{ path|set_page:next_10 }}">{{ next_10 }}</a>
              </p>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:12|round:100 as next_100 %}
            {% if next_100 <= productpages.paginator.num_pages %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{{ path|set_page:next_100 }}">{{ next_100 }}</a>
              </p>
            {% endif %}
          {% endwith %}

          {% with productpages.number|add:112|round:1000 as next_1000 %}
            {% if next_1000 <= productpages.paginator.num_pages %}
              <p class="control ">
                <a class="button is-info is-outlined" href="{{ path|set_page:next_1000 }}">{{ next_1000 }}</a>
              </p>
            {% endif %}
          {% endwith %}

          {% if productpages.number|add:2 <= productpages.paginator.num_pages %}
            <p class="control ">
              <a class="button is-info is-outlined" href="{{ path|set_page:productpages.next_page_number }}" title="{% trans 'Следующая' %}">Следующая</a>
            </p>
            <p class="control ">
              <a class="button is-info is-outlined" href="{{ path|set_page:productpages.paginator.num_pages }}" title={% trans 'Последняя' %}>Последняя</a>
            </p>
          {% endif %}


      </div>
    {% endwith %}
  {% endif %}
{% endspaceless %}

