{% load i18n %}
{% spaceless %}
<div class="field is-grouped is-grouped-multiline is-grouped-centered buttons are-small">
   {% if productpages.has_previous %}

   {% if productpages.number > 2 %}
   <p class="control">
      <a class="button is-info is-outlined" href="?page=1" title='Первая'>1</a>
   </p>
   {% if productpages.number > 3 %}

   {% endif %}
   {% endif %}
        <p class="control">
      <a class="button is-info is-outlined" href="?page={{ productpages.previous_page_number }}" title='Предыдущая'><i class="fa-solid fa-chevron-left"></i></a>
   </p>
   {% endif %}


   {% for num in productpages.paginator.page_range %}
   {% if productpages.number == num %}
   <p class="control">
      <a class="button is-info is-outlined has-background-info is-static has-text-white has-text-weight-bold" href="?page={{ num }}" title='{{ num }}'>{{ num }}/{{ productpages.paginator.num_pages }}</a>
   </p>
   {% elif num > productpages.number and num < productpages.number %}
   <p class="control">
      <a class="button is-info is-outlined" href="?page={{ num }}" title='{{ num }}'>{{ num }}</a>
   </p>
   {% endif %}
   {% endfor %}


   {% if productpages.has_next %}
         <p class="control ">
      <a class="button is-info is-outlined" href="?page={{ productpages.next_page_number }}" title=Следующая><i class="fa-solid fa-chevron-right"></i></a>
   </p>
   {% if productpages.number < productpages.paginator.num_pages|add:'-2' %}

   <p class="control ">
      <a class="button is-info is-outlined" href="?page={{ productpages.paginator.num_pages }}" title='{{ productpages.paginator.num_pages }}'>{{ productpages.paginator.num_pages }}</a>
   </p>
   {% elif productpages.number < productpages.paginator.num_pages|add:'-1' %}
   <p class="control ">
      <a class="button is-info is-outlined" href="?page={{ productpages.paginator.num_pages }}" title='{{ productpages.paginator.num_pages }}'>{{ productpages.paginator.num_pages }}</a>
   </p>
   {% endif %}

   {% endif %}
</div>
{% endspaceless %}