.products-cards {
    background-color: #DEDEDEFF;
    margin-bottom: 4em;
    margin-top: -1.5em;
    padding: 2em;

}

.card-content {
    padding: 1.5rem;
}

.m-t-tiny {
    margin-top: .125rem;
}


figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.inro {
    font-size: .9rem;
}



.content ul {
    list-style: disc outside;
    margin-left: 1em;
    margin-top: 1em;
}

.tabs {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;

}

.tabs ul {
    align-items: center;
    border-bottom-color: #f7f7f7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}


.tabs.is-toggle li.is-active a {
    background-color: #DEDEDEFF;
    border-color: #DEDEDEFF;
    color: #818181;
    z-index: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tabs.is-toggle li:first-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tabs.is-toggle li:last-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}


.tabs.is-boxed a {
    border: 0;
    border-radius: 10px 10px 0 0;
}
