
body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.15;
}


.card {
    background-color: #f3f3f3;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.products-cards {
    background-color: #DEDEDEFF;
    margin-bottom: 4em;
    margin-top: -1.5em;
    padding: 1em;
}


.m-t-tiny {
    margin-top: .125rem;
}


figcaption {
    background-color: #dcdcdd;
    color: #0a0a0b;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.inro {
    font-size: .9rem;
}




.tabs {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 40px;

}

.tabs ul {
    align-items: center;
    border-bottom-color: #f7f7f7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}


.tabs.is-toggle li.is-active a {
    background-color: #DEDEDEFF;
    border-color: #DEDEDEFF;
    color: #818181;
    z-index: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tabs.is-toggle li:first-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tabs.is-toggle li:last-child a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}


.tabs.is-boxed a {
    border: 0;
    border-radius: 10px 10px 0 0;
}

 a {
    color: #0075B2; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчёркивание у ссылок */
   }

   a:hover {
    color: #525252; /* Цвет ссылки при наведении */
    text-decoration: underline; /* Добавляем подчёркивание */
   }
.category_menu:hover{
    text-decoration: none;
}