{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}
 
{% block body_class %}template-productindexpage{% endblock %}
 
{% block content %}


{#    <div class="intro">{{ page.intro|richtext }}</div>#}
{##}
{#{% for post in productpages %}#}
{#    {% with post=post.specific %}#}
{##}
{#        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>#}
{##}
{#        {% with post.main_image as main_image %}#}
{#            {% if main_image %}{% image main_image fill-160x100 %}{% endif %}#}
{#        {% endwith %}#}
{##}
{#        <p>{{ post.intro }}</p>#}
{#        {{ post.body|richtext }}#}
{##}
{#    {% endwith %}#}
{#{% endfor %}#}


<div class="main_title is-hidden-mobile"><h2 class="subtitle is-3">{{ title|upper }}</h2></div>

<div class="tabs is-centered is-boxed is-medium">
    <ul>{% for post in live_categories %}
        <li>
            <a href="{{ self.url }}cat/{{ post.slug }}">
                <span class="icon is-small">{% image post.icon fill-32x32 style="vertical-align: middle" %}</span>
                <span>{{ post|upper }}</span>
            </a>
        </li>


        {% endfor %}

    </ul>
</div>



<div class="products-cards">
<div class="level is-hidden-mobile">
   <div class="level-left">
      <div class="level-item">
         <h2 class="title is-6 has-text-left">{{ page.intro|richtext }}</h2>
      </div>
   </div>
</div>

<div class="columns is-multiline">
{% for post in productpages %}
{% with post=post.specific %}
<div class="column is-12-mobile is-6-tablet is-3-desktop">
   <div class="card is-shadowless is-slightly-rounded">
      <div class="card-image">
         {% with post.main_image as main_image %}
         {% if main_image %}
         {% image main_image fill-300x200 as main_image %}
         <figure class="image">
            <a href="{% pageurl post %}">
            <img src="{{ main_image.url }}" alt="{{ post.title }}"></a>
            <figcaption>{{ post.intro}}</figcaption>
         </figure>
         {% endif %}
         {% endwith %}
      </div>
      <div class="card-content">
         <div>
            <p>
               <span class="title is-4 is-capitalized">
               <a href="{% pageurl post %}" class="has-text-black">
               {{ post.title }}
               </a></span><br>
               <span class="m-t-tiny block"><a href="{{ self.url }}cat/{{ post.categories.slug }}">{{ post.categories.name }}</a></span>
            </p>
            <p class="intro">{{ post.intro }}</p>
         </div>
      </div>
   </div>
</div>
{% endwith %}
{% endfor %}
</div>
</div>

{% endblock %}



