{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags tags %}


{% block content %}

    {% live_categories_menu %}
    <div class="products-cards">
        <div class="columns is-multiline is-centered">
            <div class="column is-12-mobile is-6-tablet">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            {% for item in page.gallery_images.all %}
                                {% image item.image width-624 %}
                                 <figcaption class="card-header has-text-weight-medium is-italic is-size-7-mobile p-1 px-2">
                                     {{ item.caption }}
                                 </figcaption>
                            {% endfor %}
                        </figure>
                    </div>
                    <div class="content p-3">
                        <div class="media">
                            <div class="container">
                                {% if page.tags.all.count %}
                                <div class="tags is-centered">
                                    {% for tag in page.tags.all %}
                                    <a class="tag is-info" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-size-5" >
                            {{ page.title }}
                        </p>
                        <button class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </button>
                    </header>
                    {% if page.categories %}
                    <p class="subtitle is-6 p-4 has-text-weight-medium">
                       {{ page.intro }}
                    </p>
                    {% endif %}
                </div>
            <div class="card p-3 mt-1">
                <p class="intro">{{ page.body|richtext }}</p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}



