{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags tags %}



{% block content %}
    <h1>{{ page.title }}</h1>
    <hr>


{% with categories=page.categories %}
    {% if categories %}
        <h3>Category:</h3><ul>
                <li style="display: inline">
                    {% image categories.icon fill-32x32 style="vertical-align: middle" %}
                    {{ categories.name }}
                </li></ul>
    {% endif %}
{% endwith %}
<hr>
    <div class="intro">{{ page.intro }}</div><hr>
    {{ page.body|richtext }}
    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}
    {% if page.tags.all.count %}
        <h3>Tags</h3>
    <div class="tags">
        {% for tag in page.tags.all %}
            <a class="tag is-info" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}
    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>



    {% live_categories_burger_menu %}
    {% live_categories_menu %}


{% endblock %}

