{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


{% block content %}
<div class="columns is-multiline is-centered">
   <div class="column is-12-mobile is-6-tablet">
      <div class="media">
         <div class="container">
            <div class="tags is-centered">
               {% for tag in tags_all %}
               <a class="tag {% if tag.slug in request.GET.tag %} is_disabled is-warning {% else %} is-info {% endif %}" href="?tag={{ tag.slug }}">
               {{ tag.name }}
               </a>
               {% endfor %}
            </div>
         </div>
      </div>
      <div class="content is-small mx-3">
         {% for productpage in productpages %}
         {% if productpage.categories.name %}
         <div class="card m-2 p-2">
            <article class="media">
               <div class="media-left">
                  <figure class="image mt-1">
                     {% with productpage=productpage.specific %}
                     {% with productpage.main_image as main_image %}
                     {% if main_image %}
                     {% image main_image width-90 as main_image %}
                     <img src="{{ main_image.url }}" alt="Placeholder image"></a>
                     {% endif %}
                     {% endwith %}
                     {% endwith %}
                  </figure>
               </div>
               <div class="media-content">
                  <div class="content">
                     <p>
                        <a class="m-1 is-size-5 has-text-weight-medium is-size-6-mobile" href="{% pageurl productpage %}">
                        {{ productpage.title }}
                        </a> <a class="m-3 is-size-7 has-text-weight-medium" href="{% slugurl 'products' %}categories/{{ productpage.categories.slug }}">
                        {{ productpage.categories.name }}
                        </a><br>
                         {{ productpage.latest_revision_created_at|date:"M/d/Y"}}
                        <br>
                        {{ productpage.intro|richtext }}
                     </p>
                  </div>
               </div>
            </article>
         </div>
         {% endif %}
         {% empty %}
         Не найдено страниц соответсвующих тегу.
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}




