{% extends "base.html" %}
{% load tags %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
<div class="field is-grouped is-grouped-multiline is-grouped-centered buttons are-small">
     <p class="control ">
        <a class="button {% if  title == page.title %} is-info is_disabled {% else %} is-info is-outlined {% endif %}" href="{% slugurl 'products' %}">
        Все
        </a>
        </p>
        {% for post in live_categories %}
        <p class="control ">
         <a class="button {% if  title == post.name %} is-info is_disabled {% else %} is-info is-outlined {% endif %}" href="{% slugurl 'products' %}categories/{{ post.slug }}">
        {{ post }}
        </a>
        </p>
        {% endfor %}
</div>
<div class="products-cards">
    <div class="level is-hidden-mobile">
        <div class="">
            <h2 class="title is-6 has-text-left">
                {{ page.intro|richtext }}
            </h2>
        </div>
    </div>
    <div class="columns is-multiline">
        {% for post in productpages %}
        {% with post=post.specific %}
        {% with post.main_image as main_image %}
        {% if main_image %}
        {% image main_image width-305 as main_image %}
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                    <a href="{{ self.url }}{{ post.slug }}">
                    <img src="{{ main_image.url }}" alt="Placeholder image"></a>
                     </figure>
                </div>
                {% endif %}
                {% endwith %}
                <div class="content is-small mx-3">
                    <h1 class="m-1 is-size-5">{{ post.title }}</h1>
                    <p class="pb-3">{{ post.intro }}</p>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
<div class="">
    {% include 'home/snippet/pagination.html' %}
</div>

</div>

{% endblock %}