{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
<div class="tabs is-centered is-boxed is-toggle is-medium is-hidden-mobile">
    <ul><li {% if  title == page.title %}class="is-active"{% endif %}>
        <a class="category_menu" href="{% slugurl 'products' %}">
        <span class="icon is-small">{% image post.icon max-50x50 style="vertical-align: middle" %}</span>
        <span>ALL</span>
        </a>
        </li>
        {% for post in live_categories %}
        <li {% if post.name == title %}class="is-active"{% endif %}>
        <a class="category_menu" href="{{ page.url }}cat/{{ post.slug }}">
        <span class="icon is-small">{% image post.icon max-50x50 style="vertical-align: middle" %}</span>
        <span>{{ post|upper }}</span>
        </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="products-cards">
    <div class="level is-hidden-mobile">
        <div>
            <h2 class="title is-6 has-text-left">{{ page.intro|richtext }}</h2>
        </div>
    </div>
    <div class="columns is-multiline">
        {% for post in productpages %}
        {% with post=post.specific %}
        {% with post.main_image as main_image %}
        {% if main_image %}
        {% image main_image fill-300x200 as main_image %}
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
            <div class="card">
                <div class="card-image"></div>
                <figure class="image">
                    <a href="{% pageurl post %}">
                    <img src="{{ main_image.url }}" alt="Placeholder image"> </a>
                    <figcaption>{{ post.intro}}</figcaption>
                </figure>
                {% endif %}
                {% endwith %}
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"><a href="{% pageurl post %}" class="has-text-black">{{ post.title }}</a></p>
                            <p class="subtitle is-6"><a href="{{ self.url }}cat/{{ post.categories.slug }}">{{ post.categories.name }}</a></p>
                        </div>
                    </div>
                    <div class="content">
                        <p class="intro">{{ post.intro }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}