{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}

        <div class="media">
        <div class="container">
        <div class="tags is-centered">
    {% for tag in tags_all %}
     <a class="tag {% if request.GET.tag == tag.slug %} is_disabled is-warning {% else %} is-info {% endif %}" href="{% slugurl 'tags' %}?tag={{ tag.slug }}">
                   {{ tag.name }}
        </a>
    {% endfor %}
        </div>
         </div>
        </div>

    <div class="content is-small mx-3">

        {% for productpage in productpages %}
            {% if productpage.categories.name %}
              <a class="m-1 is-size-5 has-text-weight-medium" href="{% pageurl productpage %}">
                  {{ productpage.title }}
              </a><br>
                 <a class="m-3 is-size-7 has-text-weight-medium" href="{% slugurl 'products' %}categories/{{ productpage.categories.slug }}">
                  {{ productpage.categories.name }}
                </a>
                 <p class="m-3">{{ productpage.latest_revision_created_at }}</p>

              {% if productpage.author %}
                <p>Автор: {{ productpage.author.profile }}
                </p>
              {% endif %}{% endif %}
    {% empty %}
        Не найдено страниц соответсвующих тегу.

    {% endfor %}
    </div>

{% endblock %}